<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <img src="/images/camera.svg">
       <a href="/auctioning">Home</a>
       <a href="/categories">All Products</a>
       <%if(userType&&userType==='Seller'){%>
        <a href="/auction">Add Auction</a>
        
        <a href="/account">Account</a><%}%>
        <%  if(!userType) { %>
        <a href="/account/signIn">Sign in</a>
        
         <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
         <% }%>
    </nav>
    <main>