<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
       <a href="/auctioning">Home</a>
       <a href="/categories">All Products</a>
       <a href="/auction">Add Auction</a>
       <a href="/account">Account</a>
       <a href="/account/signIn">Sign in</a>
    </nav>
    <main>