body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.mainAuctionsDiv {
  display: flex;
  justify-content: space-around;
}
.login {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 34px;
}

.login img {
  height: 20px;
}
