<%- include('../partials/header') %>
<style>
</style>


<% auctionsWithProducts.forEach(e =>{ %>

  <p>name: <%= e.name %> </p>
 <p>description: <%= e.description%></p>
 <br><br>
<% }) %>





<%- include('../partials/footer') %>