<%- include('../partials/header') %>
  <h1>Select A Category</h1>

  <div class="search-container">
    <form class="search-form" id="searchForm" method="GET" action="/categories/search">
      <input class="search-input" type="text" name="query" placeholder="Search products">
      <button class="search-button" type="submit">Search</button>
    </form>
  </div>

  <% let categories2=['Home Living', 'Clothing' , 'Bags' , 'Jewelry' , 'Beauty' , 'Collectibles' , 'Art' , 'Books'
    , 'Other' ]; categories2.forEach(e=>{ %>
    <a href="../categories/<%=e%>">
      <%=e%>
    </a>
    <% }) %>
      <div id="categoryContainer"></div>
      <%- include('../partials/footer') %>