<%- include('../partials/header') %>

  <h1 class="pageHeader">Select a Category</h1>

  <div id="categoryContainer">
    <% let categories2=['Home Living', 'Clothing' , 'Bags' , 'Jewelry' , 'Beauty' , 'Collectibles' , 'Art' , 'Books'
      , 'Other' ]; categories2.forEach(e=>{ %>
      <a href="../categories/<%=e%>">
        <%=e%>
      </a>
      <% }) %>
  </div>
  <%- include('../partials/footer') %>